@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Contact Us</h3>

<address>
    208 Ethiopian Street<br />
    Bengaluru, WA L18510057<br />
    <abbr title="Phone">P:</abbr>
    444.444.0100
</address>

<address>
    <strong>Support:</strong>   <a href="sagrika@achieveCollege.ca">sagrika@achieveCollege.ca</a><br />
    <strong>Marketing:</strong> <a href="Asp.netLearn@achieveCollege.ca">Asp.netLearn@achieveCollege.ca</a>
</address>