@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('../../Images/alexis-brown-82988-unsplash.jpg'); background-size: 100%; ">
    <h1 style="color:#e2dedc">ACHIEVE COLLEGE</h1>
    <p class="lead" style="color:#e2dedc">We help you Achieve your dreams</p>
    <p><a href="http://asp.net" class="btn btn-warning btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Apply Now</h2>
        <p>
            To start your dream career apply now.
        </p>
        <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>Be part of the communities on campus and increase your circle.</p>
        <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Training And Placement</h2>
        <p>Find the job of your dreams through our Training & Placement Cell</p>
        <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
    </div>
</div>